
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Sri Convention Centre</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-user"></i> Admin <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="divider"></li>
                        <li>
                            <a href ng-click="logout()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>        
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li data-toggle="tooltip" data-placement="right" title="Dashboard" ng-class="{active:$state.includes('dashbord.home')}">
                <a ui-sref="dashbord.home">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li data-toggle="tooltip" data-placement="right" title="Inquiry" ng-class="{active:$state.includes('dashbord.inquiry')}">
                <a ui-sref="dashbord.inquiry">
                    <i class="fa fa-fw fa-sitemap"></i>
                    <span>Inquiry</span>
                </a>
            </li>
            <li data-toggle="tooltip" data-placement="right" title="BookingDetails" ng-class="{active:$state.includes('dashbord.BookingDetails')}">
                <a ui-sref="dashbord.BookingDetails">
                    <i class="fa fa-fw fa-youtube-square"></i>
                    <span>Booking Details</span>
                </a>
            </li>

            <li data-toggle="tooltip" data-placement="right" title="Payment" ng-class="{active:$state.includes('dashbord.Payment')}">
                <a ui-sref="dashbord.Payment">
                    <i class="fa fa-fw fa-picture-o"></i>
                    <span>Payment</span>
                </a>
            </li>

            <li data-toggle="tooltip" data-placement="right" title="bookingCancellation" ng-class="{active:$state.includes('dashbord.bookingCancellation')}">
                <a ui-sref="dashbord.bookingCancellation">
                    <i class="fa fa-fw fa-picture-o"></i>
                    <span>Booking Cancellation</span>
                </a>
            </li>            
          
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
<div id="page-wrapper">
    <div class="container-fluid">
            <div ui-view></div>   
    </div>
</div>