<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Dashboard
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> My Dashboard
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
            <div class="col-md-12">
        <multiple-date-picker disallow-back-past-months="true" ng-model="selectedDays3" highlight-days="highlightDays" day-click="oneDaySelectionOnly" />        
       </div>
                <div class="clearfix">&nbsp;</div>
                <div class="clearfix">&nbsp;</div>
                <div class="col-md-12">
                        <button type="button" class="btn btn-success">&nbsp;</button>  Booking &nbsp;&nbsp;
                      
                        <button type="button" class="btn btn-warning">&nbsp;</button>  Enquiry &nbsp;&nbsp;

                        <button type="button" class="btn btn-primary">&nbsp;</button>  Selected
                </div>    
                
    </div>
    <div class="col-md-6">
<div ng-if="selectedData">

<button class="btn btn-primary btn-block" type="button">
        You have <span class="badge">{{sortedData.length}}</span> events on {{selDate | myDate}} 
      </button>
</div>
<div class="clearfix">&nbsp;</div>
        <div class="panel panel-primary" ng-if="selectedData">
            <!-- Default panel contents -->
            <div class="panel-heading">
                    <nav aria-label="event dates">
                            <ul class="pager" style="margin:0px">
                              <li class="previous"><a href="" ng-click="clickPrev()" ng-hide="index == 0"><span aria-hidden="true">&larr;</span> </a></li>
                              <b>Customer Name : {{selectedData.customername}}</b>
                              <li class="next"><a href="" ng-click="clickNext()" ng-hide="index == sortedData.length - 1"> <span aria-hidden="true">&rarr;</span></a></li>
                            </ul>
                          </nav>                
            </div>

            <!-- List group -->
            <ul class="list-group"> 
                    <li class="list-group-item text-center">
                            <span ng-if="selectedData.bookingType == 1">Enquiry</span> 
                            <span ng-if="selectedData.bookingType == 2">Booking</span> 
                            <span class="btn btn-warning" ng-if="selectedData.bookingType == 1"><i class="glyphicon glyphicon-ok"></i></span>
                            <span class="btn btn-success" ng-if="selectedData.bookingType == 2"><i class="glyphicon glyphicon-ok"></i></span>
                        </li>                
                <li class="list-group-item">
                    Event Name
                    <div class="material-switch pull-right">
                        {{selectedData.eventname}}
                    </div>
                </li>
                <li class="list-group-item">
                    Event Date
                    <div class="material-switch pull-right">
                        {{selectedData.eventdate | myDate}}
                    </div>
                </li>
                <li class="list-group-item">
                    Event End Date
                    <div class="material-switch pull-right">
                        {{selectedData.eventenddate | myDate}}
                    </div>
                </li>
                <li class="list-group-item">
                    Phone Number
                    <div class="material-switch pull-right">
                        {{selectedData.phonenumber}}
                    </div>
                </li>
                <li class="list-group-item">
                    Email Id
                    <div class="material-switch pull-right">
                        {{selectedData.emailid}}
                    </div>
                </li>
                <li class="list-group-item">
                    Address
                    <div class="material-switch pull-right">
                        {{selectedData.address}}
                    </div>
                </li>
                <li class="list-group-item">
                    PAN/Adharno
                    <div class="material-switch pull-right">
                        {{selectedData.panadharno}}
                    </div>
                </li>

                <li class="list-group-item">
                    Total Amount
                    <div class="material-switch pull-right">
                        {{selectedData.totalamount}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>




</div>

</div>

</div>