<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Dashboard  
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> My Dashboard
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
            <multiple-date-picker disallow-back-past-months="true" highlight-days="highlightDays"/>
   </div>   
   <div class="col-md-6">

   </div>  
    </div>
    