<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>
                <a ui-sref="dashbord.home">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-edit"></i> Booking Cancellation
            </li>
        </ol>
    </div>
</div>


<div class="clearfix">&nbsp;</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-table"></i> Booking Cancellation Table</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3">
                    <label for="select_num">Records at a time.</label>
                    <div class="form-group">
                        <select ng-model="viewby" id="select_num" class="form-control" ng-change="setItemsPerPage(viewby)">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>SL No</th>
                            <th>Cancellation Id</th>
                            <th>Booking Id</th>
                            <th>Paid Amount</th>
                            <th>Refund Status</th>
                            <th>Refund Amount</th>
                            <th>Created Date</th>
                            <th>Modified Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="cat in cancelDetails.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                            <td>{{((currentPage * itemsPerPage) - itemsPerPage) + ($index+1)}}</td>
                            <td>{{cat.cancel_Id}}</td>
                            <td>{{cat.booking_Id}}</td>
                            <td>{{cat.paidamount}}</td>
                            <td>{{cat.refundStatus}}</td>
                            <td>{{cat.refundAmount}}</td>
                            <td>{{cat.createdDate |timeago}}</td>
                            <td>{{cat.modifiedTime |timeago}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
        </div>
    </div>
</div>
