<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>
                <a ui-sref="dashbord.home">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-edit"></i> Inquiry
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-1 col-sm-11">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Add New Inquiry</h3>
            </div>
            <div class="panel-body">
                <form name="userForm" novalidate>
                    <div class="form-group col-sm-4">
                        <div class="form-row">
                            <div class="form-group" ng-class="{ 'has-error' : !userForm.customername.$valid && (userForm.customername.$dirty || userForm.$submitted),'has-success' : userForm.customername.$valid && (userForm.customername.$dirty || submitted)}">
                                <input type="text" name="customername" class="form-control" ng-model="booking.customername" placeholder="Customer name" ng-required="true">
                                <p ng-show="userForm.customername.$error.required && (userForm.customername.$dirty || userForm.$submitted)" class="help-block">customer name is required.</p>
                            </div>
                        </div>
                    </div>
                     <div class="form-group col-sm-4">
                        <div class="form-row">
                            <div class="form-group" ng-class="{ 'has-error' : !userForm.bridename.$valid && (userForm.bridename.$dirty || userForm.$submitted),'has-success' : userForm.bridename.$valid && (userForm.bridename.$dirty || submitted)}">
                                <input type="text" name="bridename" class="form-control" ng-model="booking.bridename" placeholder="Bride name" ng-required="true">
                                <p ng-show="userForm.bridename.$error.required && (userForm.bridename.$dirty || userForm.$submitted)" class="help-block">bride name is required.</p>
                            </div>
                        </div>
                    </div> 
                    <div class="form-group col-sm-4">
                        <div class="form-row">
                            <div class="form-group" ng-class="{ 'has-error' : !userForm.groomname.$valid && (userForm.groomname.$dirty || userForm.$submitted),'has-success' : userForm.groomname.$valid && (userForm.groomname.$dirty || submitted)}">
                                <input type="text" name="groomname" class="form-control" ng-model="booking.groomname" placeholder="Groom name" ng-required="true">
                                <p ng-show="userForm.groomname.$error.required && (userForm.groomname.$dirty || userForm.$submitted)" class="help-block">Groom name is required.</p>
                            </div>
                        </div>
                    </div>                     
                    <div class="form-group col-sm-4">
                        <p class="input-group" ng-class="{ 'has-error' : !userForm.brideDOB.$valid && (userForm.brideDOB.$dirty || userForm.$submitted),'has-success' : userForm.brideDOB.$valid && (userForm.brideDOB.$dirty || submitted)}">
                            <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" name ="brideDOB" ng-model="booking.brideDOB" is-open="popup1.opened" datepicker-options="dateOptions1" ng-required="true" close-text="Close" placeholder="Bride DOB" alt-input-formats="altInputFormats" readonly/>
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            <p ng-show="userForm.brideDOB.$error.required && (userForm.brideDOB.$dirty || userForm.$submitted)" class="help-block">bride DOB is required.</p>
                          </p>                        
                    </div>   
  
                    <div class="form-group col-sm-4">
                        <p class="input-group" ng-class="{ 'has-error' : !userForm.groomDOB.$valid && (userForm.groomDOB.$dirty || userForm.$submitted),'has-success' : userForm.groomDOB.$valid && (userForm.groomDOB.$dirty || submitted)}">
                            <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" name ="groomDOB" ng-model="booking.groomDOB" is-open="popup2.opened" datepicker-options="dateOptions1" ng-required="true" close-text="Close" placeholder="Groom DOB" alt-input-formats="altInputFormats" readonly/>
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            <p ng-show="userForm.groomDOB.$error.required && (userForm.groomDOB.$dirty || userForm.$submitted)" class="help-block">groom DOB is required.</p>
                          </p>                        
                    </div>     
                    <div class="form-group col-sm-4">
                        <p class="input-group" ng-class="{ 'has-error' : !userForm.eventdate.$valid && (userForm.eventdate.$dirty || userForm.$submitted),'has-success' : userForm.eventdate.$valid && (userForm.eventdate.$dirty || submitted)}">
                            <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" name ="eventdate" ng-model="booking.eventdate" is-open="popup3.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Event Date" alt-input-formats="altInputFormats" readonly/>
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="open3()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            <p ng-show="userForm.eventdate.$error.required && (userForm.eventdate.$dirty || userForm.$submitted)" class="help-block">Event date is required.</p>
                          </p>                        
                    </div>
                    <div class="form-group col-sm-4">
                        <p class="input-group" ng-class="{ 'has-error' : !userForm.eventenddate.$valid && (userForm.eventenddate.$dirty || userForm.$submitted),'has-success' : userForm.eventenddate.$valid && (userForm.eventenddate.$dirty || submitted)}">
                            <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" name ="eventenddate" ng-model="booking.eventenddate" is-open="popup4.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Event end date" alt-input-formats="altInputFormats" readonly/>
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="open4()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            <p ng-show="userForm.eventenddate.$error.required && (userForm.eventenddate.$dirty || userForm.$submitted)" class="help-block">Event end date is required.</p>
                          </p>                        
                    </div>  
                    <div class="form-group col-sm-4">
                        <div class="form-row">
                            <div class="form-group" ng-class="{ 'has-error' : !userForm.numberOfDays.$valid && (userForm.numberOfDays.$dirty || userForm.$submitted),'has-success' : userForm.numberOfDays.$valid && (userForm.numberOfDays.$dirty || submitted)}">
                                <input type="text" valid-number name="numberOfDays" class="form-control" ng-model="booking.numberOfDays" placeholder="Number of days" ng-required="true">
                                <p ng-show="userForm.numberOfDays.$error.required && (userForm.numberOfDays.$dirty || userForm.$submitted)" class="help-block">Number Of days is required.</p>
                            </div>
                        </div>
                    </div> 
                    <div class="form-group col-sm-4">
                        <div class="form-row">
                            <div class="form-group" ng-class="{ 'has-error' : !userForm.phonenumber.$valid && (userForm.phonenumber.$dirty || userForm.$submitted),'has-success' : userForm.phonenumber.$valid && (userForm.phonenumber.$dirty || submitted)}">
                                <input type="text" valid-number name="phonenumber" maxlength="10" class="form-control" ng-model="booking.phonenumber" placeholder="Phone Number" ng-required="true">
                                <p ng-show="userForm.phonenumber.$error.required && (userForm.phonenumber.$dirty || userForm.$submitted)" class="help-block">Phone number is required.</p>
                            </div>
                        </div>
                    </div> 
                    <div class="form-group col-sm-4">
                        <div class="form-row">
                            <div class="form-group" ng-class="{ 'has-error' : !userForm.emailid.$valid && (userForm.emailid.$dirty || userForm.$submitted),'has-success' : userForm.emailid.$valid && (userForm.emailid.$dirty || submitted)}">
                                <input type="email"  name="emailid" maxlength="80" class="form-control" ng-model="booking.emailid" placeholder="Email id" ng-required="true">
                                <p ng-show="userForm.emailid.$error.required && (userForm.emailid.$dirty || userForm.$submitted)" class="help-block">Email id is required.</p>
                            </div>
                        </div>
                    </div>      
                    <div class="form-group col-sm-4">
                        <div class="form-row">
                            <div class="form-group" ng-class="{ 'has-error' : !userForm.eventname.$valid && (userForm.eventname.$dirty || userForm.$submitted),'has-success' : userForm.eventname.$valid && (userForm.eventname.$dirty || submitted)}">
                                <input type="text" name="eventname" class="form-control" ng-model="booking.eventname" placeholder="event name" ng-required="true">
                                <p ng-show="userForm.eventname.$error.required && (userForm.eventname.$dirty || userForm.$submitted)" class="help-block">event name is required.</p>
                            </div>
                        </div>
                    </div> 
                    <div class="form-group col-sm-4">
                        <div class="form-row">
                            <div class="form-group" ng-class="{ 'has-error' : !userForm.panadharno.$valid && (userForm.panadharno.$dirty || userForm.$submitted),'has-success' : userForm.panadharno.$valid && (userForm.panadharno.$dirty || submitted)}">
                                <input type="text" name="panadharno" class="form-control" ng-model="booking.panadharno" placeholder="PAN/Adhar number" ng-required="true">
                                <p ng-show="userForm.panadharno.$error.required && (userForm.panadharno.$dirty || userForm.$submitted)" class="help-block">PAN/Adhar number is required.</p>
                            </div>
                        </div>
                    </div>                                                                          
                    <div class="form-group col-sm-4">
                        <div class="form-row" ng-class="{ 'has-error' : !userForm.address.$valid && (userForm.address.$dirty || userForm.$submitted),'has-success' : userForm.address.$valid && (userForm.address.$dirty || submitted)}">
                            <textarea class="form-control" rows="5" name="address" class="form-control" ng-model="booking.address" placeholder="Your address"
                                ng-required="true"></textarea>
                            <p ng-show="userForm.address.$error.required && (userForm.address.$dirty || userForm.$submitted)" class="help-block">address is required.</p>
                        </div>
                    </div>    
                    <div class="form-group col-sm-4">
                        <div class="form-row">
                            <div class="form-group" ng-class="{ 'has-error' : !userForm.totalamount.$valid && (userForm.totalamount.$dirty || userForm.$submitted),'has-success' : userForm.totalamount.$valid && (userForm.totalamount.$dirty || submitted)}">
                                <input type="text" valid-number name="totalamount" maxlength="10" class="form-control" ng-model="booking.totalamount" placeholder="Total Amount" ng-required="true">
                                <p ng-show="userForm.totalamount.$error.required && (userForm.totalamount.$dirty || userForm.$submitted)" class="help-block">Total Amount is required.</p>
                            </div>
                        </div>
                    </div>                                            
                    <div class="clearfix">&nbsp;</div>

                    <button type="submit" class="btn btn-primary" ng-click="addEnquiry(userForm)">add Enquiry</button>

                    
                </form>
            </div>
        </div>
    </div>
</div>
<div class="clearfix">&nbsp;</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-table"></i> Inquiry Table</h3>
        </div>
        <div class="panel-body">
                <div class="row">
                        <div class="col-lg-3">
                            <label for="select_num">Records at a time.</label>
                            <div class="form-group">
                                <select ng-model="viewby" id="select_num" class="form-control" ng-change="setItemsPerPage(viewby)">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                        </div>
                    </div>    
                         
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>SL No</th>
                            <th>Customer Name</th>
                            <th>Event name</th>
                            <th>Event start Date</th>
                            <th>Event End Date</th>
                            <th>View</th>
                            <!-- <th>Delete</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="cat in Inquiry.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                            <td>{{((currentPage * itemsPerPage) - itemsPerPage) + ($index+1)}}</td>
                            <td>{{cat.customername}}</td>
                            <td>{{cat.eventname}}</td>  
                            <td>{{cat.eventdate }}</td>
                            <td>{{cat.eventenddate }}</td>
                            <td>
                                    <a class="btn btn-success" ng-click="view(cat)">
                                        <em class="fa fa-eye"></em>
                                    </a>
                                </td>                            
                            <!-- <td>
                                <a class="btn btn-danger" ng-click="deletelocation(cat)">
                                    <em class="fa fa-trash"></em>
                                </a>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
        </div>
    </div>

</div>

 
<div id="deletemodel" class="modal fade"tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel">Confirm?</h5>                    
            </div>
            <div class="modal-body">
                <p>
                        You Want to delete
                        <b class="help-block">{{delobj.name}} </b>                    
                </p>

            </div>
            <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">No</button>
                    <a class="btn btn-danger" ng-click="deletelocationrecord(delobj)">Yes</a>
            </div>
          </div>
      
        </div>
      </div>
      
      <div id="viewmodel" class="modal fade"tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
          
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h5 class="modal-title" id="exampleModalLabel">Inquiry Details {{viewData.eventname}}</h5>                    
                </div>
                <div class="modal-body">
                        <div class="row">
                                <div class="col-sm-12">
                                    <!-- Category -->
                                    <div class="single category">
                                        <ul class="list-unstyled">
                                            <li><a  title="">eventname <span class="pull-right">{{viewData.eventname}}</span></a></li>
                                            <li><a  title="">customername <span class="pull-right">{{viewData.customername}}</span></a></li>
                                            <li><a  title="">bridename <span class="pull-right">{{viewData.bridename}}</span></a></li>
                                            <li><a  title="">brideDOB <span class="pull-right">{{viewData.brideDOB | date:'MM/dd/yyyy' }}</span></a></li>
                                            <li><a  title="">groomname <span class="pull-right">{{viewData.groomname}}</span></a></li>
                                            <li><a  title="">groomDOB <span class="pull-right">{{viewData.groomDOB}}</span></a></li>
                                            <li><a  title="">eventdate <span class="pull-right">{{viewData.eventdate }}</span></a></li>
                                            <li><a  title="">eventenddate <span class="pull-right">{{viewData.eventenddate }}</span></a></li>
                                            
                                            <li><a  title="">phonenumber <span class="pull-right">{{viewData.phonenumber }}</span></a></li>
                                            
                                            <li><a  title="">emailid <span class="pull-right">{{viewData.emailid }}</span></a></li>                                            
                                            <li><a  title="">addOnServices <span class="pull-right">{{viewData.addOnServices }}</span></a></li>                                            
                                            <li><a  title="">address <span class="pull-right">{{viewData.address }}</span></a></li>
                                            <li><a  title="">panadharno <span class="pull-right">{{viewData.panadharno }}</span></a></li>
                                            <li><a  title="">totalamount <span class="pull-right">{{viewData.totalamount }}</span></a></li>                                                                                        
                                            <li><a  title="">modifiedTime <span class="pull-right">{{viewData.modifiedTime |timeago}}</span></a></li>
                                        </ul>
                                   </div>
                                </div> 
                                </div>    
                </div>
                <div class="modal-footer">
                        <button class="btn btn-default" type="button" data-dismiss="modal">No</button>
                        <a class="btn btn-danger" type="button" data-dismiss="modal">Yes</a>
                </div>
              </div>
          
            </div>
          </div>      