<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>
                <a ui-sref="dashbord.home">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-edit"></i> Payment
            </li>
        </ol>
    </div>
</div>


<div class="clearfix">&nbsp;</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-table"></i> Payment Table</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3">
                    <label for="select_num">Records at a time.</label>
                    <div class="form-group">
                        <select ng-model="viewby" id="select_num" class="form-control" ng-change="setItemsPerPage(viewby)">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>SL No</th>
                            <th>Customer Name</th>
                            <th>Event start Date</th>
                            <th>Mobile</th>
                            <th>Total Amount</th>
                            <th>View</th>
                            <th>Pay</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="cat in Inquiry.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" ng-if="cat.isBookingCancel !=1">
                            <td>{{((currentPage * itemsPerPage) - itemsPerPage) + ($index+1)}}</td>
                            <td>{{cat.customername}}</td>
                            <td>{{cat.eventdate}}</td>
                            <td>{{cat.phonenumber }}</td>
                            <td>{{cat.totalamount }}</td>
                            <td>
                                <a class="btn btn-success" ng-click="view(cat)">
                                    <em class="fa fa-eye"></em>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-info" ng-click="paymodal(cat)">
                                    <i class="fa fa-money" aria-hidden="true"></i>
                                </a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
        </div>
    </div>
</div>


<div id="viewmodel" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h5 class="modal-title" id="exampleModalLabel">Payment Details {{viewData.eventname}}</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>SL No</th>
                                        <th>Paid Amount</th>
                                        <th>Payment Type</th>
                                        <th>Cheque no</th>
                                        <th>Balance Amount</th>
                                        <th>Payment Date</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="cat in bookingDetail.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" ng-if="cat.isBookingCancel !=1">
                                        <td>{{((currentPage * itemsPerPage) - itemsPerPage) + ($index+1)}}</td>
                                        <td>{{cat.paidamount}}</td>
                                        <td>{{cat.paymentType}}</td>
                                        <td>{{cat.chequeno?cat.chequeno:'N/A'}}</td>
                                        <td>{{cat.balanceamount }}</td>
                                        <td>{{cat.createdTime}}</td>

                                    </tr>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2"><b>Total Amount</b></td>
                                            <td colspan="4">{{totalAmount}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><b>Total Paid Amount</b></td>
                                            <td  colspan="4">{{totalPaid}}</td>
                                        </tr>
                                        <tr>
                                                <td colspan="2"><b>Total Balance</b></td>
                                                <td  colspan="4">{{bookingDetail[bookingDetail.length -1].balanceamount}}</td>
                                            </tr>                                        
                                    </tfoot>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="paymodel" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h5 class="modal-title" id="exampleModalLabel">Payment Details {{viewData.eventname}}</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Add New Booking Details</h3>
                            </div>
                            <div class="panel-body">
                                <form name="userForm" novalidate>
                                        <div class="form-group">
                                                <label for="exampleInputEmail1">Total Balance</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1" ng-model="balance" readonly>
                                              </div>                                    
                                    <div class="form-group" ng-class="{ 'has-error' : !userForm.paymentType.$valid && (userForm.paymentType.$dirty || submitted)}">
                                        <select name="paymentType" class="form-control" focus ng-model="payment.paymentType" ng-required="true">
                                            <option value=''>Select payment Type</option>
                                            <option value='cash'>Cash</option>
                                            <option value='cheque'>cheque</option>
                                        </select>
                                        <p ng-show="userForm.paymentType.$error.required && (userForm.paymentType.$dirty || userForm.$submitted)" class="help-block">Select Catogory.</p>
                                    </div>
                                    <div class="form-group">
                                            <div class="form-row">
                                                <div class="form-group" ng-class="{ 'has-error' : !userForm.paidamount.$valid && (userForm.paidamount.$dirty || userForm.$submitted),'has-success' : userForm.paidamount.$valid && (userForm.paidamount.$dirty || submitted)}">
                                                    <input type="text" valid-number name="paidamount" maxlength="10" class="form-control" ng-change="payment.balanceamount=(balance-payment.paidamount)"
                                                        ng-model="payment.paidamount" placeholder="Paid Amount" ng-required="true">
                                                    <p ng-show="userForm.paidamount.$error.required && (userForm.paidamount.$dirty || userForm.$submitted)" class="help-block">Paid Amount is required.</p>
                                                </div>
                                            </div>
                                        </div>                                    
                                    <div class="form-group" ng-if="payment.paymentType=='cheque'">
                                        <div class="form-row">
                                            <div class="form-group" ng-class="{ 'has-error' : !userForm.chequeno.$valid && (userForm.chequeno.$dirty || userForm.$submitted),'has-success' : userForm.chequeno.$valid && (userForm.chequeno.$dirty || submitted)}">
                                                <input type="text" name="chequeno" maxlength="10" class="form-control" ng-model="payment.chequeno" placeholder="Cheque Number"
                                                    ng-required="true">
                                                <p ng-show="userForm.chequeno.$error.required && (userForm.chequeno.$dirty || userForm.$submitted)" class="help-block">Cheque Number is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="form-group" ng-class="{ 'has-error' : !userForm.balanceamount.$valid && (userForm.balanceamount.$dirty || userForm.$submitted),'has-success' : userForm.balanceamount.$valid && (userForm.balanceamount.$dirty || submitted)}">
                                                <input type="text" valid-number name="balanceamount" maxlength="10" class="form-control" ng-model="payment.balanceamount"
                                                    readonly>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="clearfix">&nbsp;</div>

                                <button type="submit" class="btn btn-primary" ng-click="addpay(userForm)">Pay Details</button>                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>